@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

html {
  scroll-behavior: smooth;
}

body {
 background-color: #12171C;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.glass-effect:hover {
  /* Adjust background color to enhance the glass effect */
  /* Add layered box shadows for hover effect */
  box-shadow:
    0px 0px 0px rgba(0, 0, 0, 0), /* Initial transparent shadow */
    0px 4px 12px rgba(18, 23, 28, 0.1), /* First layer shadow with website's background color */
    0px 8px 24px rgba(18, 23, 28, 0.2), /* Second layer shadow with website's background color */
    0px 16px 48px rgba(56, 189, 248, 0.4); /* Third layer shadow with card's background color */
}
